body{
    /*background-color: lightblue; 
     */
    background-color: rgb(0,185,255);
    color: gray;
    border-style:ridge;
    margin-left: 20px;
   
}

div{
    color: yellow;
    font-family: "Times New Roman";
    font-size: 20px;
}

.extreme{
    color: magenta;
    font-family: Arial;
}

.navzone{
    opacity: .5;
}

.content{
    word-spacing: 40px;
}

.prose{
    word-spacing: 10px;
}

#head1{
    color: black;
    font-family: Verdana;
}

#tehlulz{
    font-family: Arial;
    font-size: 30px;
}

h1{
    text-align: center;
    font-size: 40px;
}

h2{
    padding-left: 20px;
    font-size: 20px;
}

h3{
    padding-left: 20px;
    font-size: 22px;
}

p{
    font-size: 18px;
}

/*unvisted link*/

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}